@media (max-width: 768px){
    .isotopeContainer{
        grid-template-columns: 100%;
    }
    .info_list ul{
        grid-template-columns: 100%;
        list-style: circle;
    }
    .banner-content{
        top: 10%;
    }
    .list-inline_home{
        display: none;
    }
    .new{
        display: none;
    }
}
@media only screen and (max-device-width: 480px) {
    .new{
        display: block;
        
    }
    // about
    .profile-img,
    .about-text{
        transform: translateX(0);
    }
    // BLOG
      .border-blog{
        transform: translate(0) !important;
    }

    //Contact
    .contact_left,
    .contact_right{
        transform: translate(0) !important;
    }

    // PORTFOLIO
    .list-inline_icon {
        transform: translate(0) !important;
    
    }
    .isotopeSelector{
        transform: translate(0) !important;
    }

    // Pricing
    .pricing-plan_wrap{
        opacity: 1;
    }

    // sirvices
    .section-box {
        transform: translate(0) !important;
        transition-delay: 0;
    }
}
