* {
  margin: 0;
  box-sizing: border-box; }

img {
  width: 100%; }

.title-wrap {
  margin: 0 auto 60px;
  max-width: 444px; }
  .title-wrap .section-title_box {
    position: relative;
    border-bottom: 1px solid #fac921;
    margin: 0 0 60px;
    text-align: center;
    padding: 20px 10px; }
    .title-wrap .section-title_box::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 35%;
      width: 30%;
      height: 3px;
      display: block;
      background: #fac921; }
    .title-wrap .section-title_box .section-title_my {
      color: #fff; }
    .title-wrap .section-title_box span {
      color: #fac921; }
    .title-wrap .section-title_box strong {
      color: #fac921; }

.introl-text {
  margin-bottom: 20px; }
  .introl-text p {
    text-align: center;
    color: #fff;
    font-size: 18px; }

.list-inline ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap; }
  .list-inline ul li {
    list-style: none;
    font-size: 1.3rem;
    margin: 0 auto;
    display: inline-block; }
    .list-inline ul li .social_icon {
      text-decoration: none;
      color: #fff;
      display: inline-block;
      height: 40px;
      width: 40px;
      text-align: center;
      border-left: 6px;
      border-right: 6px;
      margin: 5px 10px;
      overflow: hidden;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
      transition: all 0.5s; }
      .list-inline ul li .social_icon:hover {
        border: 1px solid rgba(255, 255, 255, 0.2); }
      .list-inline ul li .social_icon i {
        font-size: 22px;
        line-height: 40px;
        display: block;
        transition: all 0.5s ease-in 0s; }
      .list-inline ul li .social_icon:hover i {
        transform: translateY(-100%); }
      .list-inline ul li .social_icon-facebook:hover {
        background: #3b5998; }
      .list-inline ul li .social_icon-youtube:hover {
        background: #bb0000; }
      .list-inline ul li .social_icon-instagram:hover {
        background: #0077b5; }
      .list-inline ul li .social_icon-twitter:hover {
        background: #00acee; }
      .list-inline ul li .social_icon-telegram:hover {
        background: #32b9ee; }
      .list-inline ul li .social_icon-pinterest:hover {
        background: #cb2027; }

.box_hidde {
  overflow: hidden; }

#header {
  background: hotpink;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; }
  #header .navbar {
    padding: 0; }
    #header .navbar .navbar-toggler {
      padding: 0.25rem 0.75rem;
      font-size: 1.25rem;
      line-height: 1;
      background-color: transparent;
      border: 1px solid #04b962;
      border-radius: 0.25rem;
      height: 50px;
      margin: 5px; }
    #header .navbar .navbar-collapse {
      flex-grow: 1;
      align-items: center;
      justify-content: space-between; }
      #header .navbar .navbar-collapse .navbar-brand {
        font-family: cursive;
        padding: 0;
        text-align: center;
        color: #fac921; }
        #header .navbar .navbar-collapse .navbar-brand h1 {
          padding: 0;
          margin: 0; }
      #header .navbar .navbar-collapse .ml-auto.nav-item {
        margin-left: auto !important; }
      #header .navbar .navbar-collapse .navbar-nav .nav-item {
        border-left: 1px solid black; }
        #header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
          font-family: "permanent Market";
          font-size: 18px;
          line-height: 1.4rem;
          padding: 30px 16px;
          position: relative;
          color: #fff;
          font-weight: 500;
          text-shadow: 1px 1px #666; }
          #header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            margin: auto;
            height: 3px;
            background: #0347ab;
            transition: all 0.5s;
            width: 100%;
            transform: scaleX(0); }
          #header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
            background: #04b962; }
          #header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover::after {
            transform: scale(1); }
      #header .navbar .navbar-collapse .navbar-nav .nav-item:first-child {
        border: none; }

.menubar1, .menubar2, .menubar3 {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #04b962;
  margin: 5px 0;
  transition: 0.3s; }

.mgschangemenu-bar .menubar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: #ff0000; }

.mgschangemenu-bar .menubar2 {
  opacity: 0; }

.mgschangemenu-bar .menubar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: #ff0000; }

.star {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 2353px 4px #fff, 2062px 881px #fff, 2454px 944px #fff, 897px 879px #fff, 2313px 724px #fff, 2847px 1003px #fff, 1297px 88px #fff, 1898px 28px #fff, 156px 283px #fff, 2787px 60px #fff, 1433px 516px #fff, 2390px 21px #fff, 49px 1005px #fff, 221px 1160px #fff, 784px 694px #fff, 2947px 749px #fff, 301px 527px #fff, 2125px 336px #fff, 1645px 82px #fff, 1118px 643px #fff, 2336px 939px #fff, 447px 469px #fff, 2467px 345px #fff, 1361px 222px #fff, 2076px 828px #fff, 2657px 50px #fff, 1892px 433px #fff, 1755px 799px #fff, 1896px 794px #fff, 289px 122px #fff, 2429px 481px #fff, 472px 992px #fff, 2178px 639px #fff, 1540px 220px #fff, 2429px 683px #fff, 2649px 511px #fff, 1924px 842px #fff, 1820px 913px #fff, 354px 49px #fff, 980px 696px #fff, 728px 163px #fff, 409px 1082px #fff, 2315px 420px #fff, 397px 1077px #fff, 1160px 1069px #fff, 1679px 839px #fff, 863px 249px #fff, 432px 1173px #fff, 1266px 566px #fff, 700px 564px #fff, 1073px 86px #fff, 2742px 18px #fff, 1434px 297px #fff, 386px 558px #fff, 1826px 983px #fff, 1381px 452px #fff, 2052px 382px #fff, 524px 21px #fff, 611px 442px #fff, 545px 1069px #fff, 967px 472px #fff, 1332px 733px #fff, 2132px 674px #fff, 1762px 563px #fff, 2313px 976px #fff, 2587px 708px #fff, 1079px 246px #fff, 1553px 755px #fff, 1286px 175px #fff, 1171px 830px #fff, 1191px 212px #fff, 247px 34px #fff, 2529px 523px #fff, 346px 54px #fff, 2823px 60px #fff, 1540px 519px #fff, 619px 681px #fff, 1069px 484px #fff, 1693px 293px #fff, 507px 922px #fff, 1789px 880px #fff, 2629px 430px #fff, 507px 241px #fff, 2522px 862px #fff, 2222px 823px #fff, 171px 884px #fff, 1833px 725px #fff, 368px 308px #fff, 38px 1009px #fff, 2210px 312px #fff, 1234px 1054px #fff, 2870px 309px #fff, 2901px 367px #fff, 91px 688px #fff, 2885px 430px #fff, 1253px 376px #fff, 1405px 867px #fff, 644px 414px #fff, 320px 1172px #fff, 1134px 259px #fff, 157px 712px #fff, 2322px 79px #fff, 791px 934px #fff, 1179px 170px #fff, 2592px 1161px #fff, 1187px 543px #fff, 1598px 331px #fff, 1106px 462px #fff, 2804px 176px #fff, 133px 813px #fff, 1216px 856px #fff, 2026px 565px #fff, 36px 995px #fff, 433px 565px #fff, 2319px 876px #fff, 1747px 425px #fff, 1828px 266px #fff, 532px 249px #fff, 2709px 1188px #fff, 1608px 368px #fff, 113px 1127px #fff, 2786px 307px #fff, 2058px 997px #fff, 1858px 623px #fff, 40px 681px #fff, 1642px 559px #fff, 7px 508px #fff, 2901px 417px #fff, 850px 837px #fff, 1289px 831px #fff, 2290px 935px #fff, 2862px 832px #fff, 1213px 200px #fff, 1390px 1024px #fff, 1735px 500px #fff, 1025px 119px #fff, 2892px 317px #fff, 1738px 47px #fff, 46px 649px #fff, 538px 992px #fff, 1765px 569px #fff, 2097px 982px #fff, 2240px 1148px #fff, 1826px 348px #fff, 878px 192px #fff, 2984px 993px #fff, 1567px 591px #fff, 1176px 1032px #fff, 1827px 245px #fff, 1258px 159px #fff, 875px 381px #fff, 2913px 836px #fff, 973px 808px #fff, 913px 304px #fff, 871px 357px #fff, 1433px 626px #fff, 2347px 942px #fff, 187px 462px #fff, 1182px 398px #fff, 2488px 1122px #fff, 1761px 536px #fff, 2614px 546px #fff, 141px 195px #fff, 289px 1012px #fff, 754px 345px #fff, 802px 892px #fff, 1063px 11px #fff, 1299px 274px #fff, 45px 1101px #fff, 404px 80px #fff, 2799px 850px #fff, 546px 585px #fff, 10px 959px #fff, 1231px 230px #fff, 175px 605px #fff, 2545px 686px #fff, 2162px 298px #fff, 1039px 466px #fff, 1846px 636px #fff, 2486px 1002px #fff, 1270px 1023px #fff, 1270px 723px #fff, 2088px 984px #fff, 1988px 1041px #fff, 2115px 365px #fff, 157px 462px #fff, 2715px 995px #fff, 1259px 99px #fff, 26px 315px #fff, 370px 982px #fff, 1062px 757px #fff, 1668px 1005px #fff, 710px 84px #fff, 1618px 355px #fff, 635px 486px #fff, 978px 1095px #fff, 1373px 720px #fff, 1959px 243px #fff, 610px 1118px #fff, 2029px 876px #fff, 1080px 250px #fff, 574px 987px #fff, 1531px 674px #fff, 63px 748px #fff, 2577px 811px #fff, 2979px 756px #fff, 429px 69px #fff, 2021px 582px #fff, 1821px 475px #fff, 1437px 159px #fff, 717px 340px #fff, 2944px 786px #fff, 2182px 623px #fff, 1829px 426px #fff, 2704px 573px #fff, 2944px 180px #fff, 1587px 1167px #fff, 2527px 579px #fff, 443px 1105px #fff, 1182px 861px #fff, 103px 482px #fff, 839px 883px #fff, 1809px 943px #fff, 1171px 631px #fff, 326px 592px #fff, 1423px 691px #fff, 230px 70px #fff, 1464px 875px #fff, 954px 476px #fff, 1597px 822px #fff, 2221px 836px #fff, 738px 988px #fff, 1290px 668px #fff, 2620px 311px #fff, 2830px 96px #fff, 2017px 662px #fff, 2777px 1071px #fff, 1788px 630px #fff, 2973px 59px #fff, 2633px 722px #fff, 702px 532px #fff, 568px 453px #fff, 175px 432px #fff, 2256px 1170px #fff, 2989px 417px #fff, 2514px 1141px #fff, 454px 664px #fff, 1439px 183px #fff, 1265px 178px #fff, 1411px 339px #fff, 1336px 239px #fff, 2818px 54px #fff, 2921px 1168px #fff, 706px 819px #fff, 301px 1066px #fff, 1570px 329px #fff, 555px 329px #fff, 1188px 918px #fff, 1199px 163px #fff, 1082px 71px #fff, 838px 1185px #fff, 1532px 562px #fff, 2209px 630px #fff, 701px 376px #fff, 1434px 61px #fff, 218px 696px #fff, 2985px 83px #fff, 1658px 173px #fff, 2317px 706px #fff, 776px 1083px #fff, 1451px 665px #fff, 1771px 854px #fff, 1735px 46px #fff, 998px 143px #fff, 1771px 447px #fff, 2284px 881px #fff, 2709px 868px #fff, 127px 737px #fff, 320px 803px #fff, 2510px 161px #fff, 1668px 276px #fff, 2737px 1099px #fff, 180px 1181px #fff, 2288px 380px #fff, 1997px 797px #fff, 558px 60px #fff, 272px 648px #fff, 641px 366px #fff, 1318px 607px #fff, 1128px 641px #fff, 1672px 1153px #fff, 511px 469px #fff, 427px 136px #fff, 1043px 426px #fff, 1565px 661px #fff, 2034px 1135px #fff, 446px 675px #fff, 2875px 475px #fff, 1205px 886px #fff, 2291px 115px #fff, 1541px 303px #fff, 160px 962px #fff, 2761px 565px #fff, 2797px 699px #fff, 2188px 826px #fff, 622px 761px #fff, 2059px 241px #fff, 1457px 506px #fff, 1220px 586px #fff, 855px 513px #fff, 2181px 180px #fff, 1388px 1120px #fff, 194px 474px #fff, 2584px 12px #fff, 2331px 597px #fff, 163px 698px #fff, 251px 798px #fff, 400px 18px #fff, 880px 969px #fff, 2412px 47px #fff, 268px 490px #fff, 569px 741px #fff, 229px 324px #fff, 704px 593px #fff, 415px 824px #fff, 1308px 1164px #fff, 858px 1068px #fff, 1502px 873px #fff, 2663px 714px #fff, 2202px 25px #fff, 2635px 167px #fff, 1100px 341px #fff, 160px 296px #fff, 900px 734px #fff, 1359px 139px #fff, 895px 1121px #fff, 885px 243px #fff, 197px 433px #fff, 1237px 734px #fff, 2082px 216px #fff, 889px 1101px #fff, 2875px 1087px #fff, 658px 1061px #fff, 429px 1184px #fff, 1712px 172px #fff, 2306px 332px #fff, 556px 241px #fff, 2147px 1135px #fff, 131px 195px #fff, 222px 911px #fff, 1910px 1049px #fff, 849px 1091px #fff, 1003px 1082px #fff, 2456px 378px #fff, 259px 169px #fff, 16px 337px #fff, 810px 756px #fff, 1110px 822px #fff, 651px 1125px #fff, 204px 158px #fff, 2352px 389px #fff, 2208px 21px #fff, 100px 115px #fff, 2259px 844px #fff, 978px 166px #fff, 1333px 295px #fff, 2681px 1174px #fff, 879px 1023px #fff, 907px 259px #fff, 1140px 170px #fff, 1636px 1013px #fff, 2701px 1161px #fff, 107px 385px #fff, 1011px 1012px #fff, 2059px 901px #fff, 616px 53px #fff, 2884px 677px #fff, 244px 888px #fff, 2220px 753px #fff, 408px 511px #fff, 327px 202px #fff, 656px 975px #fff, 2062px 642px #fff, 88px 800px #fff, 562px 613px #fff, 2551px 141px #fff, 347px 1112px #fff, 1250px 511px #fff, 185px 148px #fff, 1415px 73px #fff, 582px 834px #fff, 56px 605px #fff, 1156px 259px #fff, 2711px 1003px #fff, 690px 877px #fff, 666px 428px #fff, 2284px 935px #fff, 934px 1080px #fff, 466px 619px #fff, 2115px 498px #fff, 1924px 159px #fff, 1156px 400px #fff, 433px 254px #fff, 1381px 48px #fff, 416px 1131px #fff, 1231px 1184px #fff, 2460px 349px #fff, 267px 47px #fff, 40px 933px #fff, 1015px 997px #fff, 1730px 889px #fff, 1559px 273px #fff, 2589px 627px #fff, 206px 956px #fff, 236px 545px #fff, 263px 1098px #fff, 2782px 982px #fff, 675px 323px #fff, 2863px 378px #fff, 2824px 508px #fff, 2473px 378px #fff, 2725px 846px #fff, 1342px 853px #fff, 1957px 635px #fff, 1018px 101px #fff, 1536px 585px #fff, 2432px 776px #fff, 305px 993px #fff, 177px 474px #fff, 895px 504px #fff, 2159px 116px #fff, 781px 523px #fff, 2358px 70px #fff, 2653px 1062px #fff, 1974px 786px #fff, 775px 81px #fff, 2110px 570px #fff, 461px 977px #fff, 1066px 142px #fff, 1649px 300px #fff, 814px 313px #fff, 2964px 608px #fff, 1076px 433px #fff, 2464px 311px #fff, 26px 811px #fff, 380px 684px #fff, 1423px 524px #fff, 2936px 689px #fff, 1415px 230px #fff, 661px 992px #fff, 1575px 276px #fff, 2927px 72px #fff, 291px 58px #fff, 2937px 68px #fff, 542px 816px #fff, 102px 595px #fff, 1890px 1137px #fff, 1782px 512px #fff, 2342px 1189px #fff, 2602px 144px #fff, 1980px 841px #fff, 642px 998px #fff, 634px 463px #fff, 2764px 501px #fff, 2105px 7px #fff, 2256px 288px #fff, 1322px 79px #fff, 417px 607px #fff, 1016px 470px #fff, 67px 871px #fff, 1284px 786px #fff, 522px 9px #fff, 1097px 1121px #fff, 2043px 144px #fff, 2392px 1041px #fff, 185px 472px #fff, 992px 602px #fff, 1164px 930px #fff, 2986px 775px #fff, 2003px 294px #fff, 1558px 331px #fff, 2650px 686px #fff, 1895px 653px #fff, 845px 929px #fff, 1467px 335px #fff, 1119px 269px #fff, 609px 229px #fff, 220px 769px #fff, 1694px 422px #fff, 1327px 1037px #fff, 294px 851px #fff, 2019px 174px #fff, 1710px 113px #fff, 2980px 709px #fff, 1392px 1099px #fff, 2486px 619px #fff, 193px 1200px #fff, 2545px 75px #fff, 2969px 1174px #fff, 1387px 1072px #fff; }

.meteor-1 {
  position: absolute;
  top: 177px;
  left: 55%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.9s linear infinite; }
  .meteor-1:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff; }

.meteor-2 {
  position: absolute;
  top: 214px;
  left: 94%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.9s linear infinite; }
  .meteor-2:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff; }

.meteor-3 {
  position: absolute;
  top: 125px;
  left: 43%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6.3s linear infinite; }
  .meteor-3:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff; }

.meteor-4 {
  position: absolute;
  top: 149px;
  left: 15%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 10s linear infinite; }
  .meteor-4:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff; }

.meteor-5 {
  position: absolute;
  top: 186px;
  left: 31%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7.4s linear infinite; }
  .meteor-5:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff; }

.meteor-6 {
  position: absolute;
  top: 184px;
  left: 44%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.5s linear infinite; }
  .meteor-6:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff; }

.meteor-7 {
  position: absolute;
  top: 296px;
  left: 43%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 7.2s linear infinite; }
  .meteor-7:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff; }

.meteor-8 {
  position: absolute;
  top: 253px;
  left: 39%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 8.7s linear infinite; }
  .meteor-8:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff; }

.meteor-9 {
  position: absolute;
  top: 169px;
  left: 58%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4.2s linear infinite; }
  .meteor-9:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff; }

.meteor-10 {
  position: absolute;
  top: 214px;
  left: 99%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4.5s linear infinite; }
  .meteor-10:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff; }

.meteor-11 {
  position: absolute;
  top: 259px;
  left: 18%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 10s linear infinite; }
  .meteor-11:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff; }

.meteor-12 {
  position: absolute;
  top: 171px;
  left: 11%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.6s linear infinite; }
  .meteor-12:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff; }

.meteor-13 {
  position: absolute;
  top: 198px;
  left: 69%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 9.3s linear infinite; }
  .meteor-13:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff; }

.meteor-14 {
  position: absolute;
  top: 239px;
  left: 68%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 8.1s linear infinite; }
  .meteor-14:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff; }

.meteor-15 {
  position: absolute;
  top: 244px;
  left: 94%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 8.3s linear infinite; }
  .meteor-15:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff; }

@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px; }
  12% {
    opacity: 1; }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0; }
  100% {
    opacity: 0; } }

#home .home-banner1 {
  height: 100vh;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  #home .home-banner1 .meteor {
    height: 100%; }
  #home .home-banner1 .banner-content {
    padding: 10px 15px;
    border-radius: 25px;
    position: absolute;
    top: 40%;
    left: 40px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3); }
    #home .home-banner1 .banner-content h2 span {
      color: #fac921; }
    #home .home-banner1 .banner-content .banner-text {
      text-align: center;
      margin: 30px 0 20px 0; }
    #home .home-banner1 .banner-content .btn-banner_about {
      font-size: 16px;
      font-weight: 400;
      float: right;
      padding: 10px 18px;
      outline: none;
      border: none;
      cursor: pointer;
      color: #fff;
      border-radius: 10px;
      background: #fac921;
      transition: all 1s; }
      #home .home-banner1 .banner-content .btn-banner_about:hover {
        padding: 10px 30px;
        color: #666; }
  #home .home-banner1 .home.list-inline {
    position: absolute;
    bottom: 10%;
    right: 30px;
    margin-right: 30px; }
  #home .home-banner1 .home-li {
    padding: 10px 15px; }

@media (max-width: 768px) {
  #home .home-banner1 .banner-content {
    top: 20%; } }

.about {
  padding: 40px; }

.section.active .profile-img,
.section.active .about-text {
  transform: translateX(0); }

.profile-img {
  max-width: 466px;
  max-height: 488px;
  overflow: hidden;
  border-radius: 16px;
  object-fit: cover;
  display: flex;
  border: 1px solid #fac921;
  transform: translateX(-100%);
  transition: 1s ease-in-out; }

.about-text {
  transform: translateX(100%);
  transition: 1s ease-in-out; }
  .about-text p {
    padding: 10px 15px; }

.info_list ul {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 10px; }
  .info_list ul li {
    list-style: none; }

.section.active .border-blog {
  transform: translate(0); }

.border-blog {
  overflow: hidden;
  border-bottom-right-radius: 50px !important;
  transform: translateX(-500%);
  transition: all 2s ease-in-out; }
  .border-blog .card-img-top {
    height: 300px;
    object-fit: cover; }
  .border-blog .card-footer {
    background: #f0f0f0;
    padding: 10px 15px;
    transition: 1s ease-in;
    border-bottom-right-radius: 50px !important; }
    .border-blog .card-footer .text-muted span {
      color: black;
      transition: 1s ease-in; }
      .border-blog .card-footer .text-muted span a {
        text-decoration: none;
        color: black;
        padding: 10px 5px;
        transition: 1s ease-in; }
  .border-blog:hover .card-footer {
    background: #fd9331; }
    .border-blog:hover .card-footer .text-muted span {
      color: #fff; }
      .border-blog:hover .card-footer .text-muted span a {
        color: #fff; }

.contact {
  margin-top: 40px;
  background: #666; }

.section.active .contact_left,
.section.active .contact_right {
  transform: translate(0); }

.title-box {
  border-bottom: 1px dotted #fac921;
  margin: 20px 0 40px;
  position: relative; }
  .title-box::before {
    position: absolute;
    content: "";
    height: 6px;
    width: 100px;
    background: #fac921;
    bottom: -3px;
    left: -2px; }

.contact_left {
  transform: translateX(-120%);
  transition: 1s ease-in; }

.contact_right {
  transform: translateX(120%);
  transition: 1s ease-in; }

.contact-form {
  position: relative;
  padding: 30px 15px 10px;
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  transition: all 3s ease-in;
  margin-bottom: 30px; }
  .contact-form .form-group {
    position: relative;
    margin: 10px 0px 30px; }
    .contact-form .form-group .help-block {
      position: absolute;
      top: -24px;
      padding-left: 42px;
      color: #e91313; }
    .contact-form .form-group .form-control {
      color: black;
      border: 1px solid #04b962;
      font-size: 16px;
      padding-left: 50px;
      outline: none; }
      .contact-form .form-group .form-control textarea {
        min-height: calc(1.5em + 0.75rem + 2px);
        color: black; }
    .contact-form .form-group .input-group_icon {
      position: absolute;
      top: 0;
      height: 100%;
      width: 40px;
      display: table-cell;
      text-align: center;
      font-size: 14px;
      padding: 8px;
      background: #04b962;
      border-radius: 5px;
      transition: all 0.2s ease 0s;
      vertical-align: top;
      white-space: nowrap;
      color: #fff; }
    .contact-form .form-group .btn {
      transition: all 0.5s ease 0s;
      width: 150px; }
      .contact-form .form-group .btn#submit::after {
        content: "\f0a9";
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        font-size: 20px;
        color: #000;
        position: absolute;
        right: 50px;
        -webkit-transition: all .3s ease 0s;
        -moz-transition: all .3s ease 0s;
        -ms-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
        opacity: 0; }
      .contact-form .form-group .btn:hover#submit::after {
        right: 10px;
        opacity: 1; }
      .contact-form .form-group .btn:hover {
        color: #000; }
      .contact-form .form-group .btn.disabled {
        opacity: 1;
        pointer-events: auto; }
      .contact-form .form-group .btn.btn-shutter-out-horizontal {
        margin: 10px 0px;
        font-size: 18px;
        color: #fff;
        display: inline-block;
        position: relative;
        transition-duration: 0.3s;
        transition-property: color;
        vertical-align: middle;
        overflow: hidden;
        background-color: #04b962;
        box-shadow: 0 0 1px transparent;
        transform: perspective(1px) translateZ(0px); }
        .contact-form .form-group .btn.btn-shutter-out-horizontal::before {
          background-color: #fff;
          bottom: 0;
          content: "";
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          transform: scaleX(0);
          transform-origin: 50%;
          transition-property: transform;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
          z-index: -1; }
        .contact-form .form-group .btn.btn-shutter-out-horizontal:hover::before {
          transform: scaleX(1); }
        .contact-form .form-group .btn.btn-shutter-out-horizontal:hover {
          color: #000; }
    .contact-form .form-group .sub-text {
      right: 30px;
      bottom: 50px;
      color: #e91313;
      font-size: 14px;
      position: absolute; }

.seciton.active .footer-title,
.seciton.active .footer-end {
  transform: translateY(0); }

.seciton.active .footer-text {
  opacity: 1; }

.footer {
  padding: 40px;
  background: #ededed; }
  .footer .footer-title {
    font-family: cursive;
    padding: 10px 0;
    text-align: center;
    color: #fac921;
    animation: footerAnimation  2s ease-in; }
    .footer .footer-title h1 {
      margin: 0; }
  .footer .footer-text {
    padding: 10px 0;
    margin: auto;
    text-align: center;
    animation: footerOpacity 2s ease-in; }
    .footer .footer-text a {
      color: #fe4c50;
      text-decoration: none;
      display: inline-block; }
  .footer .footer-end {
    padding: 10px 0;
    margin: auto;
    animation: footerAnimation_tow 2s ease-in; }
  .footer.footer .list-inline {
    display: block;
    padding: 0; }
    .footer.footer .list-inline ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: 0; }
      .footer.footer .list-inline ul li a {
        color: #000;
        transition: 0.2s ease; }
        .footer.footer .list-inline ul li a:hover {
          color: #fff; }

@keyframes footerAnimation {
  0% {
    transform: translateY(-150%); }
  5% {
    transform: translateY(0); }
  100% {
    transform: translateY(10%);
    opacity: 0; } }

@keyframes footerAnimation_tow {
  0% {
    transform: translateY(150%); }
  10% {
    transform: translateY(0); }
  100% {
    transform: translateY(10%);
    opacity: 0; } }

@keyframes footerOpacity {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.section.active .list-inline_icon:nth-child(1),
.section.active .list-inline_icon:nth-child(2),
.section.active .list-inline_icon:nth-child(3),
.section.active .list-inline_icon:nth-child(4),
.section.active .list-inline_icon:nth-child(5),
.section.active .list-inline_icon:nth-child(6),
.section.active .list-inline_icon:nth-child(7) {
  transform: translateY(0); }
  .section.active .list-inline_icon:nth-child(1):hover a,
  .section.active .list-inline_icon:nth-child(2):hover a,
  .section.active .list-inline_icon:nth-child(3):hover a,
  .section.active .list-inline_icon:nth-child(4):hover a,
  .section.active .list-inline_icon:nth-child(5):hover a,
  .section.active .list-inline_icon:nth-child(6):hover a,
  .section.active .list-inline_icon:nth-child(7):hover a {
    transform: translateY(-100%); }

.section.active .isotopeSelector:nth-child(1),
.section.active .isotopeSelector:nth-child(2),
.section.active .isotopeSelector:nth-child(3),
.section.active .isotopeSelector:nth-child(4),
.section.active .isotopeSelector:nth-child(5),
.section.active .isotopeSelector:nth-child(6),
.section.active .isotopeSelector:nth-child(7),
.section.active .isotopeSelector:nth-child(8) {
  transform: translate(0); }

.portfolio {
  margin: 40px 0; }

.list-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .list-inline_icon {
    padding: 10px 15px;
    margin: 0px 10px; }

.filter-container {
  padding: 0px 15px;
  margin: 15px; }

.filter.list-inline li {
  margin: 5px;
  height: 35px;
  padding: 5px 30px;
  border-radius: 10px;
  background: #fac921;
  cursor: pointer;
  transition: 1s ease-in 0s;
  overflow: hidden;
  text-align: center; }

.filter.list-inline a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s ease-in; }

.list-inline_icon:nth-child(1) {
  transform: translateY(-140%); }

.list-inline_icon:nth-child(2) {
  transform: translateY(160%); }

.list-inline_icon:nth-child(3) {
  transform: translateY(-140%); }

.list-inline_icon:nth-child(4) {
  transform: translateY(160%); }

.list-inline_icon:nth-child(5) {
  transform: translateY(-140%); }

.list-inline_icon:nth-child(6) {
  transform: translateY(160%); }

.list-inline_icon:nth-child(7) {
  transform: translateY(-140%); }

.isotopeContainer {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 6px; }
  .isotopeContainer .isotopeSelector {
    transition: 1s ease-in-out; }
    .isotopeContainer .isotopeSelector .portfolio-wrapper {
      height: 383px;
      width: 100%;
      background-position: center;
      background-size: cover;
      cursor: pointer;
      margin-bottom: 30px;
      border: 1px solid salmon;
      overflow: hidden;
      position: relative;
      transition: 1s ease-in; }
      .isotopeContainer .isotopeSelector .portfolio-wrapper .portfolio-overlay {
        height: 100%;
        width: 100%;
        padding: 10px;
        position: absolute;
        top: 0;
        z-index: 2;
        background: rgba(0, 0, 0, 0.8);
        transition: all 1s ease-in-out;
        opacity: 0; }
        .isotopeContainer .isotopeSelector .portfolio-wrapper .portfolio-overlay::after {
          content: "";
          height: 0;
          width: 0;
          position: absolute;
          bottom: 10%;
          right: 10%;
          z-index: 3;
          border-width: 9px;
          transition: height 10s ease 0.15s; }
        .isotopeContainer .isotopeSelector .portfolio-wrapper .portfolio-overlay::before {
          content: "";
          height: 0;
          width: 0;
          position: absolute;
          top: 10%;
          left: 10%;
          z-index: 3;
          border-width: 9px;
          transition: height 0.5s ease 0.15s; }
        .isotopeContainer .isotopeSelector .portfolio-wrapper .portfolio-overlay_inner {
          display: table;
          height: 100%;
          width: 100%;
          text-align: center; }
          .isotopeContainer .isotopeSelector .portfolio-wrapper .portfolio-overlay_inner .portfolio-overlay_content {
            display: table-cell;
            vertical-align: middle; }
            .isotopeContainer .isotopeSelector .portfolio-wrapper .portfolio-overlay_inner .portfolio-overlay_content .portfolio-link {
              margin: 10px; }
              .isotopeContainer .isotopeSelector .portfolio-wrapper .portfolio-overlay_inner .portfolio-overlay_content .portfolio-link a {
                height: 30px;
                width: 30px;
                padding: 5px 10px;
                margin: 0px 5px;
                border: 1px solid #fff;
                color: #fff;
                text-decoration: none; }
            .isotopeContainer .isotopeSelector .portfolio-wrapper .portfolio-overlay_inner .portfolio-overlay_content .portfolio-caption h4 a {
              text-decoration: none;
              color: #fff; }
              .isotopeContainer .isotopeSelector .portfolio-wrapper .portfolio-overlay_inner .portfolio-overlay_content .portfolio-caption h4 a span {
                font-weight: 600;
                color: var(--yellow-color);
                text-shadow: 1px -1px 0px #767676,  2px 2px 1px #737272, 2px 4px 1px #767474, 3px 5px 1px #685a5a,  4.5px 6px 1px #7a7a7a, 6px 6px 1px #7f7f7f; }
      .isotopeContainer .isotopeSelector .portfolio-wrapper:hover .portfolio-overlay {
        opacity: 1;
        transform: scale(1); }
      .isotopeContainer .isotopeSelector .portfolio-wrapper:hover .portfolio-overlay::before {
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        height: 80%;
        width: 80%;
        transition: width 0.1s ease 0.6s, height 0.1s ease 0.7s; }
      .isotopeContainer .isotopeSelector .portfolio-wrapper:hover .portfolio-overlay::after {
        border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;
        height: 80%;
        width: 80%;
        transition: width 0.1s ease 0.8s, height 0.1s ease 0.9s; }

.isotopeSelector:nth-child(1) {
  transform: translate(-100%, -100%); }

.isotopeSelector:nth-child(2) {
  transform: translateY(-100%); }

.isotopeSelector:nth-child(3) {
  transform: translateY(-100%); }

.isotopeSelector:nth-child(4) {
  transform: translate(100%, -100%); }

.isotopeSelector:nth-child(5) {
  transform: translate(-100%, 100%); }

.isotopeSelector:nth-child(6) {
  transform: translateY(100%); }

.isotopeSelector:nth-child(7) {
  transform: translateY(100%); }

.isotopeSelector:nth-child(8) {
  transform: translate(100%, 100%); }

.section.active .pricing-plan_wrap {
  opacity: 1; }

.pricing {
  background: #666; }

.pricing-plan_wrap {
  color: #fff;
  text-align: center;
  padding: 10px;
  margin: 20px 15px;
  border: 1px solid #fff;
  opacity: 0;
  transition: 1s ease-in; }
  .pricing-plan_wrap .pricing-plan_icon {
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 1s ease-in; }
    .pricing-plan_wrap .pricing-plan_icon i {
      height: 32px;
      font-size: 32px;
      color: #fd9331;
      transition: 1s ease-in; }
  .pricing-plan_wrap .rocket-dady.pricing-plan_icon {
    position: relative; }
    .pricing-plan_wrap .rocket-dady.pricing-plan_icon i.rocket_tow {
      position: absolute;
      bottom: -38px;
      left: calc(50% - 50px); }
  .pricing-plan_wrap .pricing-plan_name {
    font-size: 20px;
    font-weight: 600; }
  .pricing-plan_wrap .pricing-plan_amount .number {
    margin: 15px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 54px;
    line-height: 36px;
    font-weight: 800;
    color: #fff; }
    .pricing-plan_wrap .pricing-plan_amount .number .dollar, .pricing-plan_wrap .pricing-plan_amount .number .period {
      position: absolute;
      left: -15px;
      top: -5px;
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      line-height: 14px;
      color: rgba(255, 255, 255, 0.8);
      font-weight: 400; }
    .pricing-plan_wrap .pricing-plan_amount .number .period {
      position: absolute;
      left: auto;
      right: -55px;
      top: auto;
      bottom: -5px;
      width: 50px;
      text-align: left;
      white-space: nowrap; }
  .pricing-plan_wrap .pricing-plan_feature-list ul {
    padding: 0; }
    .pricing-plan_wrap .pricing-plan_feature-list ul li {
      list-style: none; }
      .pricing-plan_wrap .pricing-plan_feature-list ul li.line-through {
        text-decoration: line-through; }
      .pricing-plan_wrap .pricing-plan_feature-list ul li.dady_new {
        position: relative; }
        .pricing-plan_wrap .pricing-plan_feature-list ul li.dady_new .new {
          position: absolute;
          color: #fff;
          background: #51a042;
          padding: 2px 15px;
          border-radius: 10px;
          font-size: 10px;
          top: -8px;
          left: calc(100% - 70px); }
        .pricing-plan_wrap .pricing-plan_feature-list ul li.dady_new .new::before {
          position: absolute;
          content: "";
          border: 6px solid;
          left: -5px;
          top: 8px;
          border-color: #51a042  #51a042  transparent transparent;
          transform: rotate(60deg); }
  .pricing-plan_wrap .btn-pricing {
    padding: 0 35px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    height: 64px;
    line-height: 62px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    font-weight: 800;
    text-decoration: none;
    background: 0 0;
    outline: none;
    border: 1px solid #c6cacf;
    cursor: pointer;
    transition: 0.5s ease-in; }
    .pricing-plan_wrap .btn-pricing .btn-pricing_baby {
      position: relative;
      top: -3px;
      display: inline-block;
      vertical-align: middle;
      line-height: 16px; }
      .pricing-plan_wrap .btn-pricing .btn-pricing_baby span {
        position: relative;
        overflow: hidden;
        display: block; }
        .pricing-plan_wrap .btn-pricing .btn-pricing_baby span em {
          min-width: 5px;
          display: inline-block;
          vertical-align: middle;
          font-style: normal;
          backface-visibility: hidden; }
        .pricing-plan_wrap .btn-pricing .btn-pricing_baby span em:nth-child(1) {
          transition-delay: .05s; }
        .pricing-plan_wrap .btn-pricing .btn-pricing_baby span em:nth-child(2) {
          transition-delay: .075s; }
        .pricing-plan_wrap .btn-pricing .btn-pricing_baby span em:nth-child(3) {
          transition-delay: .1s; }
        .pricing-plan_wrap .btn-pricing .btn-pricing_baby span em:nth-child(4) {
          transition-delay: .125s; }
        .pricing-plan_wrap .btn-pricing .btn-pricing_baby span em:nth-child(5) {
          transition-delay: .15s; }
        .pricing-plan_wrap .btn-pricing .btn-pricing_baby span em:nth-child(6) {
          transition-delay: .175s; }
        .pricing-plan_wrap .btn-pricing .btn-pricing_baby span em:nth-child(7) {
          transition-delay: .2s; }
    .pricing-plan_wrap .btn-pricing:hover {
      background: linear-gradient(to right, #746e05, #e2281c);
      border-bottom-right-radius: 70px;
      border-top-left-radius: 70px;
      padding: 0px 85px; }
    .pricing-plan_wrap .btn-pricing:hover .btn-pricing_baby {
      color: #68e0cf; }
      .pricing-plan_wrap .btn-pricing:hover .btn-pricing_baby span em:nth-child(1) {
        transform: translateY(-3px); }
      .pricing-plan_wrap .btn-pricing:hover .btn-pricing_baby span em:nth-child(2) {
        transform: translateY(-3px); }
      .pricing-plan_wrap .btn-pricing:hover .btn-pricing_baby span em:nth-child(3) {
        transform: translateY(-3px); }
      .pricing-plan_wrap .btn-pricing:hover .btn-pricing_baby span em:nth-child(4) {
        transform: translateY(-3px); }
      .pricing-plan_wrap .btn-pricing:hover .btn-pricing_baby span em:nth-child(5) {
        transform: translateY(-3px); }
      .pricing-plan_wrap .btn-pricing:hover .btn-pricing_baby span em:nth-child(6) {
        transform: translateY(-3px); }
      .pricing-plan_wrap .btn-pricing:hover .btn-pricing_baby span em:nth-child(7) {
        transform: translateY(-3px); }
  .pricing-plan_wrap:hover .rocket-dady i {
    transform: translate(100%, -120%); }

.section.active .section-box_left {
  transform: translateX(0) !important; }

.section.active .section-box_right {
  transform: translateX(0) !important; }

.section.active .section-box:nth-child(1) {
  transition-delay: 0.5s; }

.section.active .section-box:nth-child(2) {
  transition-delay: 0.5s; }

.section.active .section-box:nth-child(3) {
  transition-delay: 0.75s; }

.section.active .section-box:nth-child(4) {
  transition-delay: 0.75s; }

.section.active .section-box:nth-child(5) {
  transition-delay: 1s; }

.section.active .section-box:nth-child(6) {
  transition-delay: 1s; }

.sirvice {
  background: #666; }
  .sirvice .section-wrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 30px 0px; }
    .sirvice .section-wrap .section-box {
      padding: 10px 15px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      transition: 0.2s ease-in 1s; }
      .sirvice .section-wrap .section-box.section-box_left {
        transform: translateX(-100%); }
      .sirvice .section-wrap .section-box.section-box_right {
        transform: translateX(100%); }
      .sirvice .section-wrap .section-box .section-service_icon {
        background-color: #bb0000;
        width: 45px;
        height: 45px;
        margin: 10px;
        transform: rotate(45deg);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s ease-in; }
        .sirvice .section-wrap .section-box .section-service_icon .deg-service {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #fff;
          transition: 1s ease-in; }
          .sirvice .section-wrap .section-box .section-service_icon .deg-service i {
            display: inline-block;
            font-size: 1.2rem;
            color: #fac921;
            transform: rotate(-45deg);
            transition: 1s ease-in; }
      .sirvice .section-wrap .section-box .section-service_name {
        margin: 10px; }
      .sirvice .section-wrap .section-box .single-post_text {
        color: #fff;
        margin: 10px; }
      .sirvice .section-wrap .section-box:hover .section-service_icon {
        transform: rotate(0deg);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background: #5b5f96; }
      .sirvice .section-wrap .section-box:hover .section-service_icon .deg-service {
        border: none; }
      .sirvice .section-wrap .section-box:hover .section-service_icon .deg-service i {
        transform: rotate(0deg); }

@media (max-width: 768px) {
  .isotopeContainer {
    grid-template-columns: 100%; }
  .info_list ul {
    grid-template-columns: 100%;
    list-style: circle; }
  .banner-content {
    top: 10%; }
  .list-inline_home {
    display: none; }
  .new {
    display: none; } }

@media only screen and (max-device-width: 480px) {
  .new {
    display: block; }
  .profile-img,
  .about-text {
    transform: translateX(0); }
  .border-blog {
    transform: translate(0) !important; }
  .contact_left,
  .contact_right {
    transform: translate(0) !important; }
  .list-inline_icon {
    transform: translate(0) !important; }
  .isotopeSelector {
    transform: translate(0) !important; }
  .pricing-plan_wrap {
    opacity: 1; }
  .section-box {
    transform: translate(0) !important;
    transition-delay: 0; } }
